<main class="single-form">

  <%= render partial: "shared/errors", locals: { entity: @user } %>

  <div class="nav-link">
    <%= link_to "Sign Up", new_user_path %>
  </div>

  <h2 class="form-title">
    Please Log In:
  </h2>


  <div class="login-form">
    <%= form_tag "/session", class: "user-form" do %>
      <%= label_tag :email %>
      <%= email_field_tag :email %>

      <%= label_tag :password %>
      <%= password_field_tag :password %>

      <%= submit_tag "Log in" %>
    <% end %>
  </div>

</main>